
<p class="title">Your Todo Items</p>



<ng-select 
        #select
        (close)="select.blur()"
        [items]="dropDownAction"
        autofocus
        (change) = "changeAction()"
        [(ngModel)]="action">
</ng-select>


<div class="mt">
    <ag-grid-angular
        #agGrid
        class="ag-theme-balham ag-cell size"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [rowSelection]="rowSelection"
        [gridOptions]="gridOptions"
        [suppressDragLeaveHidesColumns]=true
        [frameworkComponents]="frameworkComponents"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div>
