.ag-cell {
    border-right: greenyellow;
    border-right-width: 3px;
}

.size {
    height: 500px;
    width: 1200px;
}

.mb{
    margin-bottom: 20px;
}

.title {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}



.margin {
   margin-top: 40px;
}

.style {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}

.margins {
    margin-top: 40px;
    
 }

 th, td {
     padding: 20px;
 }
 
td {
     border-bottom: 1px solid blue;
 }

 th {
     border-bottom: 2px solid blue;
 }
