.ag-cell {
    border-right: greenyellow;
    border-right-width: 3px;
}

.size {
    height: 500px;
    width: 1200px;
}

.mb{
    margin-bottom: 20px;
}

.title {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}



.margin {
   margin-top: 40px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.style {
   width: 80%;
   margin-left: auto;
   margin-right: auto;

    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.style thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.style th,
.style td {
    padding: 12px 15px;
}

.style tbody tr {
    border-bottom: thin solid #dddddd;
}

/* za svaki drugi redak svijetlija pozadina */
.style tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* tamniji rub za zadnji redak */
.style tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* oznaceni redak */
.style tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.margins {
    margin-top: 40px;
 }
